__sources/_ignore
node_modules
public/uploads/images/
/cover
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
**/.idea/workspace.xml
.idea/
*.iml
*.tmp
*.db
_notes
/_notes/*.*
.vagrant
laradock
debug.log

.phpintel
